<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext"
			 value="true" />
	</appSettings>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceMetadata httpGetEnabled="false" />
					<serviceThrottling maxConcurrentCalls="64"
									   maxConcurrentSessions="200" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>
			<netTcpBinding>
				<binding name="tcpBindingChat"
						 maxReceivedMessageSize="65536"
						 openTimeout="00:02:00"
						 closeTimeout="00:02:00"
						 sendTimeout="00:02:00"
						 receiveTimeout="00:10:00">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>

		<services>

			<service name="GuessWho.Services.WCF.Services.UserService"
					 behaviorConfiguration="mexBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8095/UserService" />
					</baseAddresses>
				</host>

				<endpoint address=""
						  binding="netTcpBinding"
						  contract="GuessWhoContracts.Services.IUserService" />
				<endpoint address="mex"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange" />
			</service>

			<service name="GuessWho.Services.WCF.Services.LoginService"
					 behaviorConfiguration="mexBehavior">

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8096/LoginService" />
					</baseAddresses>
				</host>

				<endpoint address=""
						  binding="netTcpBinding"
						  contract="GuessWhoContracts.Services.ILoginService" />
				<endpoint address="mex"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange" />
			</service>

			<service name="GuessWho.Services.WCF.Services.ChatService"
					 behaviorConfiguration="mexBehavior">

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8098/ChatService" />
					</baseAddresses>
				</host>

				<endpoint address=""
						  binding="netTcpBinding"
						  bindingConfiguration="tcpBindingChat"
						  contract="GuessWhoContracts.Services.IChatService" />
				<endpoint address="mex"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange" />
			</service>

			<service name="GuessWho.Services.WCF.Services.FriendService"
					 behaviorConfiguration="mexBehavior">

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8099/FriendService" />
					</baseAddresses>
				</host>

				<endpoint address=""
						  binding="netTcpBinding"
						  contract="GuessWhoContracts.Services.IFriendService" />
				<endpoint address="mex"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange" />
			</service>

			<service name="GuessWho.Services.WCF.Services.MatchService"
					 behaviorConfiguration="mexBehavior">

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8100/MatchService" />
					</baseAddresses>
				</host>

				<endpoint address=""
						  binding="netTcpBinding"
						  contract="GuessWhoContracts.Services.IMatchService" />
				<endpoint address="mex"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange" />
			</service>

			<service name="GuessWho.Services.WCF.Services.UpdateProfileService"
					 behaviorConfiguration="mexBehavior">

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8101/UpdateProfileService" />
					</baseAddresses>
				</host>

				<endpoint address=""
						  binding="netTcpBinding"
						  contract="GuessWhoContracts.Services.IUpdateProfileService" />
				<endpoint address="mex"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange" />
			</service>

			<service name="GuessWho.Services.WCF.Services.LeaderboardService"
					 behaviorConfiguration="mexBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8102/LeaderboardService" />
					</baseAddresses>
				</host>

				<endpoint address=""
						  binding="netTcpBinding"
						  contract="GuessWhoContracts.Services.ILeaderboardService" />
				<endpoint address="mex"
					      binding="mexTcpBinding"
					      contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
