<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" />
	</system.web>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<service name="GuessWho.Services.WCF.Services.UserService" behaviorConfiguration="mexBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8095/UserService" />
					</baseAddresses>
				</host>

				<endpoint address=""
						  binding="netTcpBinding"
						  contract="GuessWho.Contracts.Services.IUserService" />

				<endpoint address="mex"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange" />
			</service>
			<service name="WcfServiceLibraryGuessWho.Services.LoginService" behaviorConfiguration="mexBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8096/LoginService" />
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="netTcpBinding"
						  contract="GuessWho.Contracts.Services.ILoginService" />
				<endpoint address="mex"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
